form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  input,
  textarea {
    font-family: Codective, sans-serif;
    
    padding: 0.5rem 0.25rem;

    border-radius: var(--border-radius);
  }

  label {
    font-weight: 600;
  }

  > div:nth-child(3) {
    grid-area: 2 / 1 / span 2 / span 2;
  }

  > div:not(:last-child) {
    display: grid;
    gap: 0.5rem;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    grid-area: 4 / 2 / span 2 / span 1;
  }
}
