:root {
    --color-gray-1	: hsl(0, 0%, 100%);
    --color-gray-3	: hsl(0, 0%, 96%);
    --color-gray-5	: hsl(0, 0%, 85%);
    --color-gray-10	: hsl(0, 0%, 15%);
    --color-blue-1	: hsl(199, 100%, 95%);
    --color-blue-6	: hsl(209, 100%, 55%);
    --color-blue-7	: hsl(211, 92%, 44%);
    --color-red-6	: hsl(357, 91%, 55%);
}