html {
  font-family: Codective, sans-serif;
}

body {
  background-color: var(--color-gray-1);
  color: var(--color-gray-10);

  box-sizing: border-box;

  display: grid;
  align-content: space-between;

  block-size: 100vh;
  max-inline-size: 60rem;

  margin-block: 0;
  margin-inline: auto;

  padding-block: 1rem;
}

main {
  display: grid;
  gap: 3rem;
}
